In [1]:
import pandas as pd
import random
import json
from datasets import Dataset

In [19]:
df = pd.read_csv("/home/praveen/theoden/emnlp_25/forget_20_1.csv")

In [20]:
with open("idk.jsonl", "r", encoding="utf-8") as f:
    idk_responses = [line.strip() for line in f if line.strip()]

In [21]:
def make_chat_format(question, response):
    return [
        {"role": "user", "content": question},
        {"role": "assistant", "content": response}
    ]

# Create new columns
df["chosen"] = df.apply(lambda row: make_chat_format(row["question"], random.choice(idk_responses)), axis=1)
df["rejected"] = df.apply(lambda row: make_chat_format(row["question"], row["answer"]), axis=1)

In [24]:
df = df.drop(columns=["answer", "paraphrased_question", "wikipage", "title", "question"])

In [25]:
df.head()

,chosen,rejected
0,"[{'role': 'user', 'content': 'What nationality...","[{'role': 'user', 'content': 'What nationality..."
1,"[{'role': 'user', 'content': 'What professions...","[{'role': 'user', 'content': 'What professions..."
2,"[{'role': 'user', 'content': 'Where was Benede...","[{'role': 'user', 'content': 'Where was Benede..."
3,"[{'role': 'user', 'content': 'Who commissioned...","[{'role': 'user', 'content': 'Who commissioned..."
4,"[{'role': 'user', 'content': 'When was Varchi'...","[{'role': 'user', 'content': 'When was Varchi'..."

In [26]:
df.to_csv('dpo_forget.csv', index = False)